
html {
    position: relative;
    min-height: 100%;
}

body{
    height: 100%;
    font-weight: 100;
    color: #222222;
    background-color: #f5f5f5;
    margin-bottom: 40px;  /* footer height*/
}

textarea:focus, input:focus{
    outline: 0;
}

a:hover{
    text-decoration: no-underline;
}

#search{
    height: 32px;
    color: #222222;
    background-color: #fff;
    margin: 6px;
}

#search-input{
    font-size: 18px;
    text-align: center;
}

#search img{
    height: 18px;
    width: 18px;
}

#search input:focus{
    outline: 0;
}

#content{
    margin: 44px auto auto auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    color: #f5f5f5;
    background-color: #333333;
}

.footer a, .footer a:hover{
    color: #ffffff;
    font-size: 18px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 819px) {
    .card{
        background-color: #fff;
        margin: 3px;
        border: solid #dddddd 1px;
        width: calc(100% - 6px);
        height: 30vw;
    }

    .card-info{
        padding: 3px 10px 3px 10px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30vw;
        width: 80%;
    }

    .card-poster{
        max-width: 100%;
        max-height: 100%;
        height: 30vw;
        width: 20%;
        float: left;
    }
}

@media all and (min-width: 500px) and (max-height: 650px){
    .card-info p{
        font-size: medium;
    }
    .card-info h4{
        font-size: large;
    }
}

@media all and (min-width: 650px) and (max-height: 819px){
    .card-info p{
        font-size: large;
    }
    .card-info h4{
        font-size: x-large;
    }
}

@media all and (min-width: 820px) {
    .card{
        background-color: #fff;
        margin: 3px;
        border: solid #dddddd 1px;
        height: 152px; /* 2 extra for border*/
        width: 402px;
    }

    .card-info{
        padding: 3px 10px 3px 10px;
        float: left;
        width: 280px;
        height: inherit;
        overflow: hidden;
        text-overflow: clip;
    }

    .card-info p{
        font-size: inherit;
    }

    .card-info h4{
        font-size: large;
    }

    .card-poster{
        max-width:120px;
        max-height:100%;
        float: left;
    }

}

.card h1,.card h2,.card h3,.card h4,.card h5{
    display: inline;
}

.card-title{
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.horisontal-line {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 0 auto;
}

video{
    width: 100%;
    margin: auto;
}

::-webkit-media-controls {
    display:none !important;
}