
html {
    position: relative;
    min-height: 100%;
}

body{
    height: 100%;
    font-weight: 100;
    color: #222222;
    background-color: #f5f5f5;
    margin-bottom: 40px;  /* footer height*/
}

textarea:focus, input:focus{
    outline: 0;
}

a:hover{
    text-decoration: no-underline;
}

.navbar{
    padding-top: 2px;
    background-color: #E62117 ;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6) ;
}
#search{
    max-width: 810px;
    height: 32px;
    color: #222222;
}

#searchbar{
    margin: 6px;
}

#search-input{
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border-width: 0px;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.navbar.watching{
    background-color: #000;
}
.navbar.watching > #searchbar > #search > span > #search-btn,
.navbar.watching > #searchbar > #search > #search-input{
    background-color: #000;
    color: #fff;
}
.navbar.watching > #searchbar > #search{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.navbar.watching > #searchbar > #menu-btn > span,
.navbar.watching > #searchbar > #search > span > #search-btn > .navbar-icon,
.navbar.watching > #searchbar > #search > #search-input::-webkit-input-placeholder{
    color: #fff;
}

.navbar.typing{
    background-color: #F6F6F6;
}
.navbar.typing > #searchbar > #search > span > #search-btn,
.navbar.typing > #searchbar > #search > #search-input{
    background-color: #FFF;
    color: #212121;
}
.navbar.typing > #searchbar > #search{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.navbar.typing > #searchbar > #menu-btn > span,
.navbar.typing > #searchbar > #search > span > #search-btn > .navbar-icon,
.navbar.typing > #searchbar > #search > #search-input::-webkit-input-placeholder{
    color: #777;
}

.navbar-icon,
#search-input::-webkit-input-placeholder
{
    color: #fff;
    box-shadow: none;
}

#search img{
    height: 18px;
    width: 18px;
}

#search input:focus{
    outline: 0;
}

#search-btn{
    background-color: transparent;
    outline: none;
}

#menu-btn{
    float: left;
    margin-right: 6px;
    background-color: rgba(0,0,0,0);
    outline: none;
}

#content{
    margin: 50px auto auto auto;
}

#card-layout{
    padding-top: 10px;
    width: 100%;
}

#player-layout{
    background-color: #000;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}

#player-layout,
#player-block,
#video-shadow{
    width: 100%;
    height: 57vw;
    max-height: 610px;
}

#player-layout.media_player_minimized{
    width: 60%;
    height: 32vw;
    max-width: 400px;
    max-height: 215px;
    bottom: 10px;
    top: auto;
    right: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

#media_player{
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#video-current-duration-label{
    left: 0px;
}

#video-total-duration-label{
    right: 40px;
}

#video-current-duration-label,
#video-total-duration-label{
    font-size: 12px;
    font-weight: 200;
    color: white;
    width: 40px;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

#video-duration-bar{
    width: calc(100% - 120px);
    position: absolute;
    bottom: 15px;
    margin-left: 40px;
    margin-right: 80px
}

#video-duration-slider{
    -webkit-appearance: none;
    height: 5px;
    background-color: transparent;
    cursor: pointer;
}

#video-duration-slider-level{
    width: 0%;
    height: 5px;
    background-color: #E62117;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

#video-duration-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 4000;
}

#video-controls{
    position: absolute;
    bottom: 8px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0);
    z-index: 3000;
}

#video-fullscreen-button,
#video-minimize-button{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,0);
    border-width: 0px;
    z-index: 3000;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 0px;
}

#video-minimize-button{
    top: 0px;
    left: 0px;
}

#video-fullscreen-button{
    bottom: 0px;
    right: 0px;
}

#player-layout.media_player_minimized > #video-hud,
#player-layout.media_player_hide_hud > #video-hud{
    display: none;
}

#video-play-pause-button{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgba(0,0,0,0);
    border-width: 0px;
    z-index: 3000;
    top: calc(50% - 35px);
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #fff;
    outline: none;
}

#video-shadow{
    box-shadow: inset 0px -60px 100px black;
    z-index: 2500;
    position: absolute;
}

video{
    width: 100%;
    height: inherit;
    max-width: 1080px;
    margin: auto;
    display: block;
}

/* 2 columns */
@media all and (min-width: 820px) and (max-width: 1229px) {
    #card-layout{
        max-width: 820px;
    }
}

/* 3 columns */
@media all and (min-width: 1230px) and (max-width: 1639px) {
    #card-layout{
        max-width: 1230px;
    }
}

@media all and (min-width: 1640px) {
    #card-layout{
        max-width: 1640px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 6px;
    height: 40px;
}

.footer a, .footer a:hover{
    color: #777;
    font-size: 18px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color: #fff;
    margin: 3px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.card-info{
    padding: 3px 10px 3px 10px;
    float: left;
    overflow: hidden;
}

.card-info .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: inherit;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    background-image: -webkit-gradient(to bottom, rgba(0,0,0,0), white);

    background-image: linear-gradient(to bottom, rgba(0,0,0,0), white);
}

@media all and (max-width: 819px) {
    .card{
        width: calc(100% - 6px);
        height: 30vw;
    }

    .card-info{
        text-overflow: ellipsis;
        height: 30vw;
        width: 80%;
    }

    .card-poster{
        max-width: 100%;
        max-height: 100%;
        height: 30vw;
        width: 20%;
        float: left;
    }
}

@media all and (min-width: 500px) and (max-height: 650px){
    .card-info p{
        font-size: medium;
    }
    .card-info h4{
        font-size: large;
    }
}

@media all and (min-width: 650px) and (max-height: 819px){
    .card-info p{
        font-size: large;
    }
    .card-info h4{
        font-size: x-large;
    }
}

@media all and (min-width: 820px) {
    .card{
        height: 152px; /* 2 extra for border*/
        width: 402px;
    }

    .card-info{
        width: 290px;
        height: inherit;
        text-overflow: clip;
        margin-right: auto;
        margin-left: auto;
    }

    .card-info p{
        font-size: inherit;
    }

    .card-info h4{
        font-size: large;
    }

    .card-poster{
        max-width:110px;
        height:100%;
        float: left;
    }

}

.card h1,.card h2,.card h3,.card h4,.card h5{
    display: inline;
}

.card-title{
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.horisontal-line {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 0 auto;
}

.loading-circle{
    margin: 100px auto 100px auto;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    border: solid 10px rgba(0, 0, 0, 0);
    border-top-color: #999;
    -webkit-animation: spin 0.5s infinite ease;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*
::-webkit-media-controls {
    display:none !important;
}
*/